<!-- ======= About Section ======= -->
<section id="about" class="home-page pt-4 pt-lg-5">
	<div class="container">

		<div class="row">
			<div class="col-lg-4 pt-4 pt-lg-0 mt-4 home-page-left" data-aos="fade-left" data-aos-delay="200">
				<p>

				</p>
			</div>
			<div class="col-lg-8 pt-4 pt-lg-0 mt-4" data-aos="fade-left" data-aos-delay="200" data-aos-duration="1000">
				<h2>🩺 SystPharma – Votre Santé, Simplifiée et Connectée</h2>
				<h3>Bienvenue sur SystPharma, la plateforme innovante qui révolutionne l'accès aux services pharmaceutiques et
					de santé.</h3>

				<p>
					🌟 Plus qu'une simple pharmacie en ligne, SystPharma vous offre une expérience complète et personnalisée :
				</p>
				<ul>
					<li><i class="ri-check-double-line"></i> 🔍 Recherchez facilement vos produits de santé, médicaments et
						équipements essentiels.</li>
					<li><i class="ri-check-double-line"></i>🛡️ Explorez les meilleures offres d’assurances santé adaptées à vos
						besoins.</li>
					<li>📲 Obtenez un code de retrait sécurisé pour récupérer vos commandes en pharmacie en toute simplicité.</li>
				</ul>
				<div class="fst-italic d-flex justify-content-center">
					<button class="btn btn-order btn-lg me-5 rounded-0 merriweather button-call"><a routerLink="/products">Passer
							la
							commande</a></button>
					<button class="btn btn-outline-info rounded-0 merriweather button-call"><a
							routerLink="/contact">Contact</a></button>
				</div>
			</div>
		</div>

	</div>
</section> <!-- End About Section -->