.home-page-left {
  background-image: url("/assets/img/banner-bg.jpg");
  background-size: cover; /* Pour couvrir toute la zone */
  background-position: center; /* Pour centrer l'image */
  height: 50vh; /* Ajustez la hauteur selon vos besoins */
}
.button-call a {
  text-decoration: none;
  color: var(--color-black) !important;
}
.button-call2:hover {
  background-color: #3b82f6 !important;
}
